@font-face {
    font-family: 'icomoon';
    src:    url('../images/icons/icomoon.eot?7yikcv');
    src:    url('../images/icons/icomoon.eot?7yikcv#iefix') format('embedded-opentype'),
        url('../images/icons/icomoon.ttf?7yikcv') format('truetype'),
        url('../images/icons/icomoon.woff?7yikcv') format('woff'),
        url('../images/icons/icomoon.svg?7yikcv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-one-finger-swipe-horizontally:before {
    content: "\e900";
}
