body {
    background-color: #F8F8F8;
}
#logo {
    text-align: center;
    background-color: #F8F8F8;
    margin-top: 10%;
}
#logo h2 {
    margin-top: 0%;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
#logo h3 {
    margin-top: 2%;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23c.4px;
}
.notify form {
    background: #FFF;
    width: 78%;
    margin: 0 auto;
    border: 1px solid #EEE;
}
.notify input[type="text"] {
    width: 80%;
    padding: 12px;
    outline: none;
    border: none;
    color: #3B3B3B;
    font-size: 0.875em;
    font-family: 'Roboto', arial, sans-serif;
}
.notify input[type="submit"] {
    padding: 12px 23px;
    border: none;
    background: #3B3B3B;
    font-family: 'Roboto', arial, sans-serif;
    color: #FFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.notify input[type="submit"]:hover {
    background: #555;
}
.notify {
    width: 70%;
    margin: 2em auto 2em auto;
}
