html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    padding-top: 80px;
}
#abouth {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#donate {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Quicksand', sans-serif;
}

#shareup{
    padding-left: 0px;
    padding-right: 0px;
}

#share {
    float:right;
    margin-top: 0.7vh;
    margin-bottom: 0%;
    padding-left: 0px;
    padding-right: 0px;
}

#follow {
    float:left;
    margin-top: 1.5vh;
    margin-bottom: 0%;
    padding-left: 0px;
    padding-right: 0px;
}

#about,#contact,#tos,#pripol,#advert {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.00em;
    font-weight: bold;
}

#load {
    text-align: center;
    margin-top: 15.0%;
    margin-bottom: 18.0%;
}
#map {
    height: 50vh;
    margin-top: 1px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row a:link    {color:black; background-color:transparent; text-decoration:none}
.row a:visited {color:black; background-color:transparent; text-decoration:none}
.row a:hover   {color:#73B9FF; background-color:transparent; text-decoration:none}
.row a:active  {color:red; background-color:transparent; text-decoration:none}

#lgraybar,#lgraybar2,#lgraybar3,#rgraybar,#rgraybar2,#rgraybar3 {
    line-height: 3.5vh;
    text-align: center;
    background-color: #F8F8F8;
    border-style: solid;
    font-weight: bold;
    font-size: 1.20em;
    color:black;
    font-family: 'Cabin', sans-serif;
    border-width: 2px 0px 0px 0px;
    padding-left: 2px;
    padding-right: 2px;

}

#lgraybar p,#lgraybar2 p,#lgraybar3 p,#rgraybar p,#rgraybar2 p,#rgraybar3 p{
    margin-top: 5px;
    margin-bottom: 5px
}

#lgraybar a,#lgraybar2 a,#lgraybar3 a,#rgraybar a,#rgraybar2 a,#rgraybar3 a{
    margin-top: 5px;
    margin-bottom: 5px

}

#lgraybar,#lgraybar2,#lgraybar3{
     text-align: left;
     padding-left: 5px;
}
#rgraybar,#rgraybar2,#rgraybar3{
     text-align: right;
     padding-right: 5px;
}

#lgraybar2,#rgraybar2 {    
    border-width: 0px 0px 0px 0px;
}

#lgraybar3,#rgraybar3  {
    border-width: 0px 0px 2px 0px;
}

#compl {
    color:red;
    display: inline
}

#mode {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border-width: 0px 0px 0px 0px;
}
#footerh {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3%;
    font-size: 1.10em;
    font-family: 'Cabin', sans-serif;    
}

#footerh a{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3%;
    font-size: 1.20em;
    font-family: 'Cabin', sans-serif;      
}

#footerh a:link    {color:#777; background-color:transparent; text-decoration:none}
#footerh a:visited {color:#777; background-color:transparent; text-decoration:none}
#footerh a:hover   {color:black; background-color:transparent; text-decoration:none}
#footerh a:active  {color:red; background-color:transparent; text-decoration:none}

#headerh {
    margin-bottom: 0.5%;
    font-size: 1.30em;
    font-family: 'Cabin', sans-serif;
    /*font-weight: 600;
    font-family: 'Covered By Your Grace', cursive;*/
}
#nope {
    text-align: right;
}
#thing,
#place {
    text-align: center;
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-family: 'Donegal One', serif;
}

#notfound {
    text-align: center;
    font-size: 2.25em;
    font-weight: bold;
    padding-top: 140px;
    padding-bottom: 25px;
    font-family: 'Donegal One', serif;
}

#thing {
    font-size: 2.25em;
}
#place {
    font-size: 1.70em;
}
#at {
    font-style: italic;
    font-weight: normal;
    font-family: 'Donegal One', serif;
    font-size: .75em;
}
#nope,
#yep,#next {
    margin-top: 2.3vh;
    margin-bottom: 2.3vh;
    font-family: 'Cabin', sans-serif;

}
#nope a,
#yep a,#next a {
    background-color: #73B9FF;
    font-weight: bold;
    color: #000000;
    
}

#nope a:hover,#yep a:hover,#next a:hover{
    color: white;
    
}

#nope a:active,#yep a:active {
    color:  #000000  ;
}

#next{
    text-align: center;
    padding-bottom: 50px;
}

#list{
    text-align: left;
    margin-top: 3%;
    margin-bottom:1%;
    margin-left: 4%;
}
#listlinks{
    text-align: left;
    margin-left: 2%;
}
#swipe-popup {
    position: fixed;
    opacity: 1;
    top: 50%;
    right: 50%;
    margin-top: -75px;
    margin-right: -75px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 10000;
    text-align: center;
    height: 150px;
    width: 150px;
    display: none;
}
#swipe-popup h3 {
    margin-top: 12px;
}
#swipe-icon {
    font-size: 100px;
    line-height: 46px;
}
#swipe-desc {
    line-height: 24px;
}

@media (max-width: 768px) {
    #swipe-popup {
        display: block;
    }
}

